/*!
 * Copyright 2020 Ryan E. Anderson
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*!
 * Testimonial Style v0.1.0 Demo Legacy Style
 *
 * by Ryan E. Anderson
 *
 * Copyright (C) 2020 Ryan E. Anderson
 */
html {
    height: 100%;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    font: 16px "Times New Roman", Times, Georgia, serif;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

small {
    font-size: 0.75em;
}

p {
    margin: 1em 0;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2.25em;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2em;
}

h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.75em;
}

h5 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

hr {
    display: block;
    margin: 0.5em auto;
    border-style: solid;
    border-width: 1px;
}

#wrapper {
    width: 320px;
    padding: 32px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#right-quotation {
    margin-top: 1.75em;
}

.text-container {
    display: block;
    float: right;
    clear: none;
    width: 100%;
}

.text-justify {
    text-align: justify;
}