/*!
 * Copyright 2020 Ryan E. Anderson
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*!
 * Testimonial Style v0.1.0
 *
 * Testimonial Style is a CSS style sheet that can be used to easily create a presentation for a testimonial or a
 * headline.
 *
 * by Ryan E. Anderson
 *
 * Copyright (C) 2020 Ryan E. Anderson
 */

/*
 *  BEGIN: General
 *
 *  Begin the section for general styles that should be used in either a modern or legacy context.
 */
.golden-line-height {
    line-height: 1.618;
}

.clear-fix {
    clear: both;
}

/*
 *  END: General
 *
 *  End the section for general styles that should be used in either a modern or legacy context.
 */

/*
 *  BEGIN: Testimonial Modern
 *
 *  Begin the section for testimonial styles that should be used in a modern context. This section contains classes that
 *  use newer CSS features.
 */
div.testimonial {
    display: block;
    float: left;
    padding: 16px;
}

div.testimonial p {
    display: block;
    margin: 1em 0;
    text-align: center;
}

div.testimonial div.testimonial-text-container {
    display: block;
    float: left;
    width: 100%;
}

div.testimonial p.testimonial-text,
div.testimonial > div.testimonial-header,
div.testimonial > div.testimonial-footer,
div.testimonial > div.testimonial-footer > div.testimonial-author-container {
    display: block;
}

div.testimonial > div.testimonial-footer p,
div.testimonial > div.testimonial-header p {
    text-align: left;
}

div.testimonial > div.testimonial-footer > div.testimonial-author-container > p.testimonial-author,
div.testimonial > div.testimonial-footer > div.testimonial-author-container > div.testimonial-text-container > p.testimonial-author {
    font-style: oblique;
}

div.testimonial > div.testimonial-footer > div.testimonial-author-container > p.testimonial-author-information,
div.testimonial > div.testimonial-footer > div.testimonial-author-container > div.testimonial-text-container > p.testimonial-author-information {
    font-size: small;
}

div.testimonial > div.testimonial-body {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2em 0;
}

div.testimonial > div.testimonial-body > div.testimonial-quotation,
div.testimonial > div.testimonial-body > div.testimonial-text-container > div.testimonial-quotation {
    display: block;
    position: relative;
    width: 100%;
    height: 4em;
    overflow: auto;
}

div.testimonial > div.testimonial-body > div.testimonial-quotation-golden,
div.testimonial > div.testimonial-body > div.testimonial-text-container > div.testimonial-quotation-golden {
    display: block;
    position: relative;
    width: 100%;
    height: 6.472em;
    overflow: auto;
}

div.testimonial > div.testimonial-body > div.testimonial-quotation > p.testimonial-quotation-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 4em;
    line-height: 1;
}

div.testimonial > div.testimonial-body > div.testimonial-quotation-golden > p.testimonial-quotation-golden-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 4em;
    line-height: 1.618;
}

div.testimonial > div.testimonial-body > div.testimonial-quotation > p.testimonial-quotation-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 4em;
    line-height: 1;
}

div.testimonial > div.testimonial-body > div.testimonial-quotation-golden > p.testimonial-quotation-golden-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 4em;
    line-height: 1.618;
}

div.testimonial > div.testimonial-body > div.testimonial-quotation > p.testimonial-quotation-right.even-spacing,
div.testimonial > div.testimonial-body > div.testimonial-quotation-golden > p.testimonial-quotation-golden-right.even-spacing {
    transform: rotate(180deg);
}

div.testimonial > div.testimonial-body > p.testimonial-text,
div.testimonial > div.testimonial-body > div.testimonial-text-container > p.testimonial-text {
    position: relative;
    font-style: oblique;
    font-weight: bold;
    margin: 0;
}

div.testimonial > div.testimonial-body > p.testimonial-text.testimonial-text-medium,
div.testimonial > div.testimonial-body > div.testimonial-text-container > p.testimonial-text.testimonial-text-medium {
    font-size: 1.5em;
}

div.testimonial > div.testimonial-body > p.testimonial-text.testimonial-text-large,
div.testimonial > div.testimonial-body > div.testimonial-text-container > p.testimonial-text.testimonial-text-large {
    font-size: 2em;
}

/*
 *  END: Testimonial Modern
 *
 *  End the section for testimonial styles that should be used in a modern context. This section contains classes that
 *  use newer CSS features.
 */

/*
 *  BEGIN: Testimonial Legacy
 *
 *  Begin the section for testimonial styles that should be used in a legacy context. These classes don't use certain
 *  qualifications that can only be achieved with newer CSS features.
 */
div.testimonial-legacy {
    display: block;
    float: left;
    padding: 16px;
}

div.testimonial-legacy p {
    display: block;
    margin: 1em 0;
    text-align: center;
}

div.testimonial-text-container-legacy {
    display: block;
    float: left;
    width: 100%;
}

div.testimonial-legacy div.testimonial-footer-legacy p,
div.testimonial-legacy div.testimonial-header-legacy p {
    text-align: left;
}

div.testimonial-legacy p.testimonial-text-legacy {
    display: block;
}

div.testimonial-legacy div.testimonial-header-legacy {
    display: block;
}

div.testimonial-legacy div.testimonial-footer-legacy {
    display: block;
}

div.testimonial-legacy div.testimonial-footer-legacy div.testimonial-author-container-legacy {
    display: block;
}

div.testimonial-legacy div.testimonial-footer-legacy div.testimonial-author-container-legacy div.testimonial-text-container-legacy p.testimonial-author-legacy {
    font-style: oblique;
}

div.testimonial-legacy div.testimonial-footer-legacy div.testimonial-author-container-legacy div.testimonial-text-container-legacy p.testimonial-author-information-legacy {
    font-size: small;
}

div.testimonial-legacy div.testimonial-body-legacy {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2em 0;
}

div.testimonial-legacy div.testimonial-body-legacy div.testimonial-quotation-legacy {
    display: block;
    position: relative;
    width: 100%;
    height: 4em;
    overflow: auto;
}

div.testimonial-legacy div.testimonial-body-legacy div.testimonial-quotation-golden-legacy {
    display: block;
    position: relative;
    width: 100%;
    height: 6.472em;
    overflow: auto;
}

div.testimonial-legacy div.testimonial-body-legacy div.testimonial-quotation-legacy p.testimonial-quotation-left-legacy {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 4em;
    line-height: 1;
}

div.testimonial-legacy div.testimonial-body-legacy div.testimonial-quotation-golden-legacy p.testimonial-quotation-left-golden-legacy {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 4em;
    line-height: 1.618;
}

div.testimonial-legacy div.testimonial-body-legacy div.testimonial-quotation-legacy p.testimonial-quotation-right-legacy {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 4em;
    line-height: 1;
}

div.testimonial-legacy div.testimonial-body-legacy div.testimonial-quotation-golden-legacy p.testimonial-quotation-right-golden-legacy {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 4em;
    line-height: 1.618;
}

div.testimonial-legacy div.testimonial-body-legacy div.testimonial-text-container-legacy p.testimonial-text-legacy {
    position: relative;
    font-style: oblique;
    font-weight: bold;
    margin: 0;
}

div.testimonial-legacy div.testimonial-body-legacy div.testimonial-text-container-legacy p.testimonial-text-legacy.testimonial-text-medium-legacy {
    font-size: 1.5em;
}

div.testimonial-legacy div.testimonial-body-legacy div.testimonial-text-container-legacy p.testimonial-text-legacy.testimonial-text-large-legacy {
    font-size: 2em;
}

/*
 *  END: Testimonial Legacy
 *
 *  End the section for testimonial styles that should be used in a legacy context. These classes don't use certain
 *  qualifications that can only be achieved with newer CSS features.
 */